.sidebar{
    grid-area: nav;
    display: block;
    border-radius: 10px;
    background-color: #4379CD;
    padding: 20px;
    height: max-content;
}
 
.item{
    display: block;
    color:#fff;
    font-size: 20px;
    padding: 5px 0 5px 0px;
    border-radius:10px;
    margin: 5px 0;
}

.item:hover{
    /* background-color:#5da8c5; */
    transition: all .1 linear;
    cursor: pointer;
}

.item.active{
    /* background-color:#5da8c5; */
    
    font-weight: 700;
    padding: 5px 0 5px 20px;
    transition: padding .1s ease-in;
}