@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

*,
html,
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

.app-wrapper{
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 20px;
  grid-template-areas: 
  "hed hed"
  "nav con";
  padding: 10px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  font-family: 'Comfortaa', cursive;
}

.app-wrapper-content{
    grid-area: con;
}